.travel_detail_card {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.travel_detail_card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.travel_detail_card p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.travel_detail_card button {
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.travel_detail_card button:hover {
    background-color: #0056b3;
}


.user_info {

    font-size: 1.5rem;

    background-color: white;

    padding: 15px;

}